version: '2'

services:
  bot:
    build: .
    environment:
      MONGO_HOST: "mongo"
      MONGO_PORT: 27017
    networks:
      - internal
    volumes:
      - bot-log:/brisebois/log
    depends_on:
      - mongo

  mongo:
    image: mongo:3.6-jessie
    networks:
      - internal
    ports:
      - "27017:27017"
    volumes:
      - ./mongo:/docker-entrypoint-initdb.d/
      - mongo-conf:/data/configdb
      - mongo-data:/data/db

networks:
  internal:
    driver: bridge

volumes:
  bot-log: {}
  mongo-conf: {}
  mongo-data: {}
